/* INICIO SECAO CATEGORIAS GIFS */
section#secaoCatGifs {
    max-width: 1200px;
    height: 600px;
    background-color: #21bb62;
    margin: 50px auto 0 auto;
    border-radius: 3px;
    padding-top: 30px;
    position: relative;
}

h1#tituloSecaoCatGifs {
    font-size: 40px;
    color: aliceblue;
    text-align: center;
    margin-bottom: 20px;
}

button#btnEnviarVariasGifs {
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 20px;
}

button#btnEnviarVariasGifs > a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.589);
}

button#btnEnviarVariasGifs:hover {
    background-color: white;
}

div#divDasecaoCatGifs {
    margin-left: 40px;
}

div.catSaudacao {
    width: 302px;
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
    margin-left: 50px;
    background-color: #2290cf;
    border-radius: 10px;
    position: relative;
}

div.catSaudacao:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.541);
}

.catSaudacao > p {
    color: white;
    font-size: 22px;
    text-align: center;
}

div.catSaudacao > img {
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 10px 10px 0px 0px;
}

button.btnEnviar {
    width: 100px;
    height: 60px;
    border: none;
    font-size: 20px;
    border-radius: 5px 0px 0px 5px;
    background-color: #ffffff;
    position: absolute;
    top: 240px;
    right: 0;
    cursor: pointer;
    border: 1px solid black;
    border-right: 0;
    transition: 0.3s;
}

button.btnEnviar:hover {
    width: 130px;
    height: 80px;
    top: 220px;
}
/* FIM SECAO CATEGORIAS GIFS */

/* INICIO RODAPE */
footer {
    margin-top: 100px;
}
/* FIM RODAPE */

/* INICIO FIXED */
div.telaTransparente {
    width: 100%;
    height: 100%;
    display: none;
    background-color: #dbdbdb4f;
    position: fixed;
    top: 0;
    left: 0;
}

div.telaDeEnvio {
    width: 30%;
    height: 300px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #cecece;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p#pEnvio {
    margin: 10px 0px 20px 20px;
    font-size: 16px;
    color: rgb(116, 116, 116);
}

img.fab {
    width: 70px;
    height: 50px;
    cursor: pointer;
}

img.fab:first-of-type {
    margin-left: 50px;
}

img.fab:hover {
    opacity: 0.8;
}

i#fecharTelaDeEnvio {
    position: absolute;
    border-radius: 45px;
    top: 1px;
    right: 5px;
    cursor: pointer;
}
/* FIM FIXED */

/*************************************************************************************************************/

/* INICIO SECAO ALERTA LOGIN */
div#modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.418);
    display: none;
}

section#entrarEnviarGif {
    width: 550px;
    height: 300px;
    background-color: #93d180;
    border-radius: 3px;
    padding-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px, rgba(0, 0, 0, 0.24) 0px 5px 5px 0px;
}

/* Incio form */
form#formEntrar {
    width: 450px;
    margin: 0 auto;
}

p#pDaSecaoEntrar {
    font-size: 38px;
    text-align: center;
    margin-bottom: 30px;
}

label.labelDeEntrada {
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
}

input[type="email"] {
    width: 100%;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding: 15px;
    /* background-image: url(/IncludeProject/img/icons/iconEmail.png);
    background-repeat: no-repeat;
    background-position: 5px 3px;
    padding-left: 35px; */
}

input[type="password"] {
    width: 100%;
    border: 0;
    border: 0;
    padding: 15px;
    font-size: 14px;
    /* background-image: url(/IncludeProject/img/icons/iconKey.png);
    background-repeat: no-repeat;
    background-position: 5px 3px;
    padding-left: 35px; */
}

input[type="submit"] {
    padding: 15px;
    border: 0;
    font-size: 14px;
    cursor: pointer;
    /* background-image: url(/IncludeProject/img/icons/iconEntrar.png);
    background-repeat: no-repeat;
    background-position: 75px 11px; */
}
/* Fim form */

p#pNaoCadastrado {
    margin-top: 15px;
    font-size: 12px;
    text-align: center;
}

p#pNaoCadastrado a {
    color: black;
    text-decoration: none;
}

p#pNaoCadastrado a:hover {
    text-decoration: underline;
}

i#fecharTelaDeLogin {
    position: absolute;
    top: -0.5%;
    right: -0.1%;
    cursor: pointer;
}
/* FIM SECAO ALERTA LOGIN */