/* INICIO SECAO ENTRAR */

section#cadastro {
    width: 550px;
    height: 500px;
    background-color: #21bb62;
    margin: 100px auto 0 auto;
    border-radius: 3px;
    padding-top: 50px;  
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px, rgba(0, 0, 0, 0.24) 0px 5px 5px 0px;
    position: relative; 
}

/* Incio form */
form#formCadastro {
    width: 450px;
    margin: 0 auto;
    position: relative;
}

p#pDaSecaoCadastro {
    font-size: 38px;
    text-align: center;
    margin-bottom: 30px;
}

label.labelDeCadastro {
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    border: 0;
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding: 15px;
    background-color: rgb(242, 242, 242);
    /* background-image: url(/IncludeProject/img/icons/iconUser.png);
    background-repeat: no-repeat;
    background-position: 5px 3px;
    padding-left: 35px;
    z-index: 50; */
}

input[type="date"] {
    width: 100%;
    height: 47px;
    border: 0;
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding: 15px;
    color: rgb(119, 117, 117);
    background-color: rgb(242, 242, 242);
    /* background-image: url(/IncludeProject/img/icons/iconCalendar.png);
    background-repeat: no-repeat;
    background-position: 5px 3px;
    padding-left: 35px;
    z-index: 50; */
}

input[id="inputDataNascimentoblock"] {
    padding: 15px;
    position: absolute;
    top: 62px;
    left: 0;
}

input[type="email"] {
    width: 100%;
    border: 0;
    margin-bottom: 15px;
    font-size: 14px;
    padding: 15px;
    /* background-image: url(/IncludeProject/img/icons/iconEmail.png);
    background-repeat: no-repeat;
    background-position: 5px 3px;
    padding-left: 35px; */
}

input[type="password"] {
    width: 100%;
    border: 0;
    margin-bottom: 15px;
    font-size: 14px;
    padding: 15px;
    /* background-image: url(/IncludeProject/img/icons/iconKey.png);
    background-repeat: no-repeat;
    background-position: 5px 3px;
    padding-left: 35px; */
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    border: 0;
    font-size: 14px;
    cursor: pointer;
    /* background-image: url(/IncludeProject/img/icons/iconEntrar.png);
    background-repeat: no-repeat;
    background-position: 110px 11px; */
}
/* Fim form */

p#pJaCadastrado {
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

p#pJaCadastrado a {
    color: black;
    text-decoration: none;
}

p#pJaCadastrado a:hover {
    text-decoration: underline;
}
/* FIM SECAO ENTRAR */