@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1366px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* INICIO HEADER */
header {
    width: 100%;
    height: 100px;
    background-color: #207dff;
    padding: 15px 0px 0px 20px;
}

p#titulo {
    display: inline-block;
}

p#titulo a {
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    color: #21bb62;
    text-decoration: none;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

ul#listaPrincipal {
    list-style-type: none;
    display: inline-block;
    font-weight: 500;
    margin-left: 100px;
    position: relative;
    top: -10px;
}

li.itensPrincipais {
    display: inline-block;
    margin-left: 20px;
}

li.itensPrincipais > a {
    display: inline-block;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    border-radius: 2px;
}

li.itensPrincipais > a:hover {
    color: black;
    background-color: white;
}

button#ButaoListarCadastrados {
    border: none;
    background-color: transparent;
    margin-left: 220px;
    position: relative;
    top: -10px;
}

button#ButaoListarCadastrados a {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 2px;
}

button#ButaoListarCadastrados a:hover {
    color: black;
    background-color: white;
}
/* FIM HEADER */

/* INICIO SECAO ENTRAR */
section#entrar {
    width: 550px;
    height: 300px;
    background-color: #00bd56;
    margin: 100px auto 0 auto;
    border-radius: 3px;
    padding-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px, rgba(0, 0, 0, 0.24) 0px 5px 5px 0px;
    position: relative; 
}

/* Incio form */
form#formEntrar {
    width: 450px;
    margin: 0 auto;
}

p#pDaSecaoEntrar {
    font-size: 38px;
    text-align: center;
    margin-bottom: 30px;
}

label.labelDeEntrada {
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
}

input[type="email"] {
    width: 100%;
    border: 0;
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding: 15px;
    background-color: rgb(242, 242, 242);
}

input[type="password"] {
    width: 100%;
    border: 0;
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding: 15px;
    background-color: rgb(242, 242, 242);
    /* background-image: url(/IncludeProject/img/icons/iconKey.png);
    background-repeat: no-repeat;
    background-position: 5px 3px;
    padding-left: 35px; */
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    text-transform: uppercase;
    /* background-image: url(/IncludeProject/img/icons/iconEntrar.png);
    background-repeat: no-repeat;
    background-position: 75px 11px; */
}

input[type="submit"]:hover {
    background-color: rgb(212, 240, 205);
}
/* Fim form */

p#pNaoCadastrado {
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

p#pNaoCadastrado a {
    color: black;
    text-decoration: none;
}

p#pNaoCadastrado a:hover {
    text-decoration: underline;
}
/* FIM SECAO ENTRAR */

/* INICIO RODAPE */
footer {
    width: 100%;
    height: 200px;
    background-color: #207dff;
    position: absolute;
    top: 120%;
    left: 0;
}

p#pDireitos {
    padding-top: 100px;
    text-align: center;
    font-size: 28px;
    color: white;
}
/* FIM RODAPE */